version: "3.9"

services:
  api:
    extends:
      file: docker-compose.yml
      service: api
    gpus: all
    environment:
      NVIDIA_VISIBLE_DEVICES: all
      NVIDIA_DRIVER_CAPABILITIES: compute,utility
